<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autoCustomer.dao.APIMapper" >
 
 	<resultMap type="com.autoCustomer.entity.Api" id="BaseResultMap">
 		<id column="id" property="id" jdbcType="INTEGER" />
 		<result column="version" property="version" jdbcType="INTEGER"/>
    	<result column="access_token" property="accessToken" jdbcType="VARCHAR" />
    	<result column="appid" property="appid" jdbcType="VARCHAR" />
    	<result column="sercet" property="sercet" jdbcType="VARCHAR" />
    	<result column="uptime" property="uptime" jdbcType="DATE" />
   	 	<result column="gaintime" property="gaintime" jdbcType="DATE" />
   	 	<result column="acctime" property="acctime" jdbcType="DATE" />
 	</resultMap>
  
  	<select id="selectApi" resultMap="BaseResultMap">
  		select id,access_token,appid,sercet from api
  	</select>
  
</mapper>