<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autoCustomer.dao.DeStageEventMapper" >
  <resultMap id="BaseResultMap" type="com.autoCustomer.entity.DeStageEvent" >
    <id column="eventId" property="eventid" jdbcType="INTEGER" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="stageId" property="stageid" jdbcType="INTEGER" />
    <result column="isRelated" property="isrelated" jdbcType="INTEGER" />
    <result column="isMultiselect" property="ismultiselect" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    eventId, event, stageId, isRelated, isMultiselect
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from de_stage_event
    where eventId = #{eventid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from de_stage_event
    where eventId = #{eventid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.autoCustomer.entity.DeStageEvent" >
    insert into de_stage_event (eventId, event, stageId, 
      isRelated, isMultiselect)
    values (#{eventid,jdbcType=INTEGER}, #{event,jdbcType=VARCHAR}, #{stageid,jdbcType=INTEGER}, 
      #{isrelated,jdbcType=INTEGER}, #{ismultiselect,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.autoCustomer.entity.DeStageEvent" >
    insert into de_stage_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eventid != null" >
        eventId,
      </if>
      <if test="event != null" >
        event,
      </if>
      <if test="stageid != null" >
        stageId,
      </if>
      <if test="isrelated != null" >
        isRelated,
      </if>
      <if test="ismultiselect != null" >
        isMultiselect,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eventid != null" >
        #{eventid,jdbcType=INTEGER},
      </if>
      <if test="event != null" >
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="stageid != null" >
        #{stageid,jdbcType=INTEGER},
      </if>
      <if test="isrelated != null" >
        #{isrelated,jdbcType=INTEGER},
      </if>
      <if test="ismultiselect != null" >
        #{ismultiselect,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.autoCustomer.entity.DeStageEvent" >
    update de_stage_event
    <set >
      <if test="event != null" >
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="stageid != null" >
        stageId = #{stageid,jdbcType=INTEGER},
      </if>
      <if test="isrelated != null" >
        isRelated = #{isrelated,jdbcType=INTEGER},
      </if>
      <if test="ismultiselect != null" >
        isMultiselect = #{ismultiselect,jdbcType=INTEGER},
      </if>
    </set>
    where eventId = #{eventid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.autoCustomer.entity.DeStageEvent" >
    update de_stage_event
    set event = #{event,jdbcType=VARCHAR},
      stageId = #{stageid,jdbcType=INTEGER},
      isRelated = #{isrelated,jdbcType=INTEGER},
      isMultiselect = #{ismultiselect,jdbcType=INTEGER}
    where eventId = #{eventid,jdbcType=INTEGER}
  </update>
     <select id="selectEventsByStage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from de_stage_event
    where stageId &lt;= #{stageid,jdbcType=INTEGER} order by stageId 
  </select>
  
     <select id="selectUnRelatedStageEvent" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from de_stage_event
    where   stageId is null 
  </select>
  
        <select id="selectCountSize" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count(*)
    from de_stage_event where isMultiselect = #{ismultiselect,jdbcType=INTEGER}
  </select>
</mapper>