<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autoCustomer.dao.DeTagListMapper" >
  <resultMap id="BaseResultMap" type="com.autoCustomer.entity.DeTagList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dimensionKey" property="dimensionkey" jdbcType="VARCHAR" />
    <result column="tagname" property="tagname" jdbcType="VARCHAR" />
    <result column="accounttype" property="accounttype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dimensionKey, tagname, accounttype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from de_tag_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from de_tag_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.autoCustomer.entity.DeTagList" >
    insert into de_tag_list (id, dimensionKey, tagname, 
      accounttype)
    values (#{id,jdbcType=INTEGER}, #{dimensionkey,jdbcType=VARCHAR}, #{tagname,jdbcType=VARCHAR}, 
      #{accounttype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.autoCustomer.entity.DeTagList" >
    insert into de_tag_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dimensionkey != null" >
        dimensionKey,
      </if>
      <if test="tagname != null" >
        tagname,
      </if>
      <if test="accounttype != null" >
        accounttype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dimensionkey != null" >
        #{dimensionkey,jdbcType=VARCHAR},
      </if>
      <if test="tagname != null" >
        #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        #{accounttype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.autoCustomer.entity.DeTagList" >
    update de_tag_list
    <set >
      <if test="dimensionkey != null" >
        dimensionKey = #{dimensionkey,jdbcType=VARCHAR},
      </if>
      <if test="tagname != null" >
        tagname = #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null" >
        accounttype = #{accounttype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.autoCustomer.entity.DeTagList" >
    update de_tag_list
    set dimensionKey = #{dimensionkey,jdbcType=VARCHAR},
      tagname = #{tagname,jdbcType=VARCHAR},
      accounttype = #{accounttype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="selectAllTagList" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from de_tag_list 
    where
    accounttype = #{accounttype,jdbcType=VARCHAR}
  </select>
  
      <select id="selectTagListCheckDidHad" resultMap="BaseResultMap" parameterType="java.util.Map">
    select 
     <include refid="Base_Column_List" />
       from de_tag_list
    where 
    dimensionKey = #{dimensionkey,jdbcType=VARCHAR} and accounttype = #{accounttype,jdbcType=VARCHAR}
     limit 1
  </select>
  
</mapper>